<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--这个namespace如果不加对应的dao就找不到对应的mapper-->
<mapper namespace="com.hjc.dao.UserDao">

    <select id = "selectById" resultType="User" parameterType="java.lang.String">
        SELECT * FROM T_STUDENT T WHERE T.NAME = #{id}
    </select>

    <select id="login" resultType="User" parameterType="User">
        SELECT * FROM T_STUDENT T WHERE T.NAME = #{name} AND T.PWD = #{pwd}
    </select>
</mapper>